/* @plugin "daisyui"; */


*{
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-light: #f5f5f5;
  --bg-dark: #1a1a1a;
}
html, body {
  background-color: var(--bg-light) !important;
  height: 100%;
  margin: 0;
  padding: 0;
}
html.dark {
  background-color: var(--bg-dark) !important;
}
